
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
{{ bulletin.bul_title|censor }}
{% endblock title %}


{% block content %}
        {% if bulletin %}
                <h3 class="col-lg-12 text-center"> {{ bulletin.bul_title|censor }} </h3>
                <p> Категория: {{ bulletin.category }}</p>
                <p> Дата публикации: {{ bulletin.create_time.date|date:'d-M-Y' }} {{ bulletin.create_time.time|time:'H:i' }} </p>
                <p> Автор: {{ bulletin.bul_author.username }} </p>
                <p> {{ bulletin.bul_text|censor|safe }} </p>
                {% if is_staff %}
                        <p><a href="{% url 'edit' bulletin.id %}"><button>Редактировать</button></a> <a href="{% url 'delete' bulletin.id %}"><button>Удалить</button></a></p>
                {% elif bulletin in self_bul %}
                        <p><a href="{% url 'edit' bulletin.id %}"><button>Редактировать</button></a> <a href="{% url 'delete' bulletin.id %}"><button>Удалить</button></a></p>
                {% endif %}
        {% else %}
                <h2>Объявление было удалено или никогда не существовало</h2>
        {% endif %}
        {% if user.is_authenticated %}
                {% if bulletin not in self_bul %}
                        {% if messages %}
                        {% for message in messages %}
                                <div class="{{ message.tags }}">
                                        {{ message|safe }}
                                </div>
                        {% endfor %}
                        {% endif %}
                        <form method="POST">
                                {% csrf_token %}
                                <br>
                                <p> {{ form.reply_text.label }}:<br> {{ form.reply_text }} </p>
                                <p><br><input type="submit" value="Оставить отклик"></p>
                        </form>
                        {% if self_replies %}
                                <ol>
                                {% for reply in self_replies %}
                                        <li><p>Автор отклика: {{ reply.reply_user.username }}
                                                <br> Текст отклика: {{ reply.reply_text }}</p>
                                                <p>{{ reply.reply_date.date|date:'d-M-Y' }} {{ reply.reply_date.time|time:'H:i' }}</p>
                                                <p><a href="{% url 'editrep' reply.id %}"><button>Редактировать</button></a>
                                                <a href="{% url 'deleterep' reply.id %}"><button>Удалить</button></a></p>
                                        </li>
                                {% endfor %}
                                </ol>
                        {% endif %}
                {% elif bulletin in self_bul %}
                        <h4>Все отклики:</h4>
                        {% if replies %}
                                <ol>
                                {% for reply in replies %}
                                        <li><p>{{ reply.reply_user.username }} <br> {{ reply.reply_text }}</p></li>
                                {% endfor %}
                                </ol>
                        {% else %}
                                <p>Откликов пока нет</p>
                        {% endif %}
                {% endif %}
        {% else %}
                <p>Неавторизованные пользователи не могут оставлять отклики. Пожалуйста, авторизуйтесь или зарегистрируйтесь</p>
                <p><a href="{% url 'account_login' %}"><button>Войти</button></a> <a href="{% url 'account_signup' %}"><button>Регистрироваться</button></a></p>
        {% endif %}

{% endblock content %}