{% extends 'flatpages/default.html' %}


{% block title %}
Редактировать объявление
{% endblock title %}


{% block content %}

    <h1 class="col-lg-12 text-center">Редактировать объявление</h1>
{% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
    <br>
        {{ form.media }}
        <p> {{ form.bul_title.label }}:<br> {{ form.bul_title }} </p>
        <p> {{ form.category.label }}:<br> {{ form.category }} </p>
        <p> {{ form.bul_short_description.label }}:<br> {{ form.bul_short_description }} </p>
        <p> {{ form.bul_text.label }}:<br> {{ form.bul_text }} </p>

        <p><br><input type="submit" value="Редактировать объявление"></p>
    </form>
{% else %}
    <p>Вы не авторизованы! Пожалуйста, авторизуйтесь или зарегистрируйтесь.</p>
{% endif %}
{% endblock content %}