{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="col-lg-12 text-center">Еженедельная новостная рассылка ДО The Steel MMORPG</h1>

        {% for new in news %}
            <h3><a href="http://127.0.0.1:8000/board/news/{{new.id}}">{{ new.news_title|censor }}</a> {{ new.create_time.date|date:'d M Y' }}</h3>
            <p>Author: {{ new.news_author.username }} </p>
            <p> {{ new.news_text|truncatechars:50|censor }} </p>
        {% endfor %}

</body>
</html>